<p class="footer"><a href="http://www.mas.be">More information about <span> MAS</span> </a></p>
<a href="https://enigmatic-ravine-66399.herokuapp.com/">link app</a>
  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
